html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}

/* サイトのワイド */
.site-width{
    width: 980px;
    margin: auto;
    position: relative;
}

/* ヘッダー */
header{
    background: black;
    width: 100%;
    overflow: hidden;
    height: 80px;
}
header h1{
    color: white;
    display: inline-block;
    line-height: 80px;
}
header h1 a{
    color: white;
    text-decoration: none;
}
header ul{
    float: right;
    position: absolute;
    bottom: 0;
    right: 0;
}
header ul li{
    float: left;
    margin-left: 30px;
}
header ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}
header ul li a:hover{
    text-decoration: underline;
}

/* フォーム/メイン全体 */
form{
    text-align: center;
    padding: 10% 0;
}
.main{
}
.confirmation{
    padding-top: 10%;
}
.confirmation h1{
    text-align: center;
}
.container{
    text-align: center;
}
input[type="date"]{
    padding: 5px 30px;
    background: rgb(214, 214, 214);
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
}
input[type="time"]{
    padding: 5px 30px;
    background: rgb(214, 214, 214);
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
}
input[type="submit"]{
    background: black;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
select{
    margin-bottom: 20px;
    background: rgb(214, 214, 214);
}
input[type="text"]{
    padding: 5px 30px;
    background: rgb(214, 214, 214);
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
}
input[type="number"]{
    padding: 5px 30px;
    background: rgb(214, 214, 214);
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
}
textarea{
    background: rgb(214, 214, 214);
    border: none;
}
.form-register{
    padding-top: 10%;
}
.container table{
    margin: auto;
    border: solid 2px black;
    margin-bottom: 20px;
}
.container table td{
    border: solid 2px black;
}
.container a{
    background: black;
    color: white;
    padding: 15px 19px;
    border-radius: 8px;
    text-decoration: none;
}
 form h1{
    margin-bottom: 20px;
}

/* フッター */
footer{
    background: black;
    color: white;
    text-align: center;
    height: 50px;
    line-height: 50px;
    width: 100%;
 }

 /* エラーメッセージ */
 span.error{
     color: red;
 }
 h2.error{
     color: red;
     text-align: center;
 }

 /* 更新完了をアラートするCSS */
 #js-show{
     display: none;
     position: fixed;
     top: 0;
     text-align: center;
     background: rgba(90, 190, 221, 0.507);
     color: white;
     width: 100%;
 }

 /* 予約一覧表示テーブルのCSS */
 .reservation-table{
    border: solid 2px rgb(126, 126, 126);
    text-align: center;
    box-sizing: border-box;
    margin: auto;
 }
 .reservation-table td{
     border: solid 2px rgb(126, 126, 126);
     box-sizing: border-box;
 }
 .reservation-table a{
     text-decoration: none;
     color: white;
     background: rgb(247, 134, 134);
     padding: 5px 10px;
     border-radius: 5px;
 }
 tr td {
    width: 100px;
    font-size: 13px;
    height: 70px;
}
tr th{
    width: 100px;
    height: 35px;
}
thead.scrollHead,tbody.scrollBody {
    display: block;
} 

.reservation{
    margin-top: 10%;
    /* overflow-y: scroll;
    height: 200px; */
}
/* td,th {
    table-layout: fixed;
    width: 60px;
    height: 4em;
} */
tbody{
    overflow-y: scroll;
    max-height: 500px;
}